.container{
  flex:5
}

.title {
  margin: 30px 0px; /* Default margin for larger screens */
  font-size: 2rem; /* Default font size for larger screens */
}

/* For medium screens (tablets) */
@media (max-width: 1000px) {
  .title {
    margin: 20px 0px; /* Reduced margin for medium screens */
    font-size: 1.75rem; /* Smaller font size for medium screens */
  }
}

/* For small screens (mobile devices) */
@media (max-width: 720px) {
  .title {
    margin: 10px 0px; /* Further reduced margin for small screens */
    font-size: 1.5rem; /* Even smaller font size for small screens */
  }
}
