.container{
  flex:5
}

.title {
  margin-top: 10px; /* Default margin for larger screens */
  font-size: 1.25rem; /* Default font size for larger screens */
}

/* For medium screens (tablets) */
@media (max-width: 1000px) {
  .title {
    margin-top: 8px; /* Default margin for larger screens */
    font-size: 1.0rem; /* Smaller font size for medium screens */
  }
}

/* For small screens (mobile devices) */
@media (max-width: 720px) {
  .title {
    margin-top: 5px; /* Default margin for larger screens */
    font-size: 0.75rem; /* Even smaller font size for small screens */
  }
}
