.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;

}

.sidebarButton {
  width: 100%;
  padding: 10px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: medium;
  justify-content: flex-start; /* Aligns content to the left */
}


.sidebarButton:hover {
  background-color: var(--softBg);
}

.active {
  background-color: blue;
  color: white;
}

.categoryWrapper {
  width: 100%;
  position: relative;
}

.categoryButton {
  width: 100%;
  padding: 10px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */

  cursor: pointer;
  font-size: medium;


}

.categoryButton:hover {
  background-color: var(--softBg);
}

.chevron {
  margin-left: 10px;
  font-size: 4px;

}
.chevron2 {
  font-size: 16px;
  margin-left: auto; /* Pushes the chevron to the right */
  display: flex;
  align-items: center; /* Centers the chevron vertically */
}







.subcategories {
  padding-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.subcategory {
  padding: 5px 10px;
  background-color: var(--lighterBg);
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--textColor);
}

.subcategory:hover {
  background-color: var(--hoverBg);
}

.showMoreButton {
  width: 100%;
  padding: 10px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}

.showMoreButton:hover {
  background-color: var(--softBg);
}

.sidebarLink {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: var(--textColor);
  background-color: var(--bg);
  font-size: medium;
  cursor: pointer;
}

.sidebarLink:hover {
  background-color: var(--softBg);
}

.icon {
  margin-right: 10px;
}


.separator {
  width: 100%;
  height: 1px;
  padding-left: 20px;
  background-color:var(--softBg);
  margin: 10px 0;

}

.sectionTitle {
  margin-left: 8px;
  color: var(--softTextColor);
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
}



