.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 20px; /* Ensures container doesn't touch edges */
  margin: 0 20px; /* Added margin to prevent touching the sides */
}



.left,
.right {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-top-left-radius: 15px;
}

.left {
  background-color: #ff6600;
  color: white;
  width: 30%;
  min-width: 150px;
  text-align: center;
}

.right {
  background-color: var(--softBg);
  width: 50%;
  padding: 50px;
  min-width: 150px;
  
}

.leftText {
  font-size: 1.1rem;
}

.rightText {
  font-size: 2.25rem;
  padding-bottom: 10%;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: #ff6600;
}

.socialButton img {
  margin-right: 10px;
}

.toggleText {
  margin-top: 20px;
  color: #ff6600;
  cursor: pointer;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
    margin: 0 15px; /* Adjusted margin for medium screens */
  }

  .right {
    padding: 20px;
  }

  .leftText {
    font-size: 1.0rem;
  }

  .rightText {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .leftText {
    font-size: 0.75rem;
  }

  .left,
.right {
  height: 50%;
 
}
  .container {
    padding: 15px;
    margin: 0 10px; /* Ensures no touching on small screens */
    
  }

  .right {
    padding: 15px;
  }

  .socialButton {
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
  }

  .toggleText {
    font-size: 0.8rem;
  }
}
