/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContent {
  background: var(--softBg);
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  min-width: 50%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: var(--textColor);
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Write page styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.select {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid;
  background-color: var(--bg);
  border-color: var(--bg);
  color: var(--textColor);
}

.characterCount {
  font-size: 14px;
  color: var(--textColor);
  margin-top: 5px;
}

.previewImage {
  max-width: 100%;
  height: auto;
}

.editor {
  width: 100%;
  height: 300px;
  max-width: 600px;
  font-size: 16px;
  border: 1px solid var(--bg);
  border-color: var(--bg);
  background-color: var(--bg);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.placeholder {

  font-size: 10px; 
  
}

.input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--bg);
  background-color: var(--bg);
  color: var(--textColor);
  font-size: 18px;
  font-family: inherit;
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}

.error {
  color: red;
}

.textArea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid var(--bg);
  background-color: var(--bg);
  color: var(--textColor);
  font-size: 18px;
  font-family: inherit;
}

.textArea:focus {
  outline: none;
  border-color: var(--bg);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fileLabel {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 16px;
  border: none;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileLabel:hover {
  background-color: #ff802c;
}

.button {
  padding: 10px 20px;
  background-color:#ff6600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff802c;
}

.button:disabled {
  background-color: var(--softBg);
  cursor: not-allowed;
}

.quill .ql-editor a {
  color: var(--primary) !important;
  text-decoration: underline;
}



.deleteButton {

  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .container {
    padding: 10px;
  }


.modalContent {

  min-width: 90%;
  min-height: 60%;

}

  .select {
    width: 100%;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }

  .textArea {
    height: 150px;
    margin-top: 0px;

  }

  .editor {
    font-size: 14px;
    margin-top: 0px;
  }

  .button {
    padding: 8px 16px;
    font-size: 12px;
  }
  .fileLabel {
    padding: 8px 16px;
    font-size: 14px;
  }
  .characterCount {
    
    margin-top: 0px;
    font-size: 12px;

  }
}
