.content1{
  display: flex;
  gap: 50px;
  padding-left: 1.5%;
}
/* homepage.module.css */

.container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.4%;

}

/* src/app/homepage.module.css */
.trendingWrapper {
  position: fixed; /* Or absolute, depending on the desired behavior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001; /* Ensure it is on top of other content */
  transition: opacity 0.3s ease, transform 0.3s ease;

}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


/* Hide scrollbar by default */
.menu {
  position: fixed;
  width: 250px;
  max-height: 89vh; /* Full height */
  z-index: 0;
  overflow-y: hidden; /* Scrollable content */
  padding-right: 20px;
  padding-bottom: 30px;
  margin-top: 55px;
  transition: overflow 0.3s ease; /* Smooth transition for scrollbar visibility */
  
  border-right: 1px solid var(--softTextColor3); /* Borderline on the right */
}

.menu:hover {

  overflow-y: scroll; /* Show scrollbar on hover */

}

/* Custom scrollbar styles for WebKit browsers */
.menu::-webkit-scrollbar {
  padding-left: 20px;
  width: 10px; /* Width of the scrollbar */
}


.menu::-webkit-scrollbar-track {
  background:  var(--bg); /* Background of the scrollbar track */
  border-radius: 10px; /* Roundness of the scrollbar thumb */

}

.menu::-webkit-scrollbar-thumb {
  background-color:  var(--softBg);/* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
}

.menu::-webkit-scrollbar-thumb:hover {
  background:var(--softBg); /* Color of the scrollbar thumb on hover */
}

/* Keep existing styles for the mainContent and media queries */
.mainContent {
  margin-left: 300px; /* Account for fixed menu */
  flex: 1;
  display: flex;
  max-width: 700px;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height */
  overflow-y: auto; /* Scrollable content */
  padding-left: 11.5%;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 250px; /* Adjust this width as needed */
  }

  .mainContent {
    margin-left: 250px; /* Adjust to match menu width */
  }
}



@media screen and (max-width: 720px) {
  .menu {
    display: none;
  }


  .container {
    padding-left: 0;
  padding-right: 0;
  }

  .mainContent {
    margin-left: 0; /* Ensure no margin is applied */
    padding-left: 0; /* Ensure no padding is applied */
    padding-top: 0;

  }

  .content1 {
    padding-left: 0; /* Ensure no padding is applied */
    margin-left: 0; /* Ensure no margin is applied */

  }
}


.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
