.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;

}

.imageContainer {
  position: relative;
  width: 100%;
  height: 210px; /* Adjust the height as needed */

}

.image {
  object-fit: cover;

}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align text to the bottom */
  height: 100%; /* Cover the entire image */
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.desc {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.userProfile {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profileImage {
  border-radius: 50%;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.userRole {
  font-size: 12px;
  margin: 0;
}

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Dark transparent circle */
  border: none;
  border-radius: 65%;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.chevron.right {
  right: 10px;
}
