

/* Container for multiple items */
.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* Styling for each item */
.item {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between the rows */
}

/* Top row container for the image and category */
.topRow {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between the image and the category */
}

/* Container for the image */
.imageContainer {
  flex: 0 0 22px; /* Fixed width for the image container */
  height: 22px; /* Fixed height for the image container */
  position: relative;
}

/* Styling for the image */
.image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%; /* Make sure the image fits within the container */
  height: 100%; /* Make sure the image fits within the container */
}

/* Container for text content */
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Space between title and details */
}

/* Styling for post title */
.postTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--softTextColor);
  margin: 0; /* Remove default margin */
}

/* Container for additional details */
.detail {
  font-size: 12px;
}

/* Styling for the category name */
/* Styling for the category name */
.category {
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 10px;
  color: #ffffff;
  width: max-content;
  background-color: #10028f;

}

