

/* Container for multiple items */
.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* Styling for each item */
.item {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between the rows */
}

/* Top row container for the image and category */
.topRow {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between the image and the category */
}

/* Container for the image */
.imageContainer {
  flex: 0 0 22px; /* Fixed width for the image container */
  height: 22px; /* Fixed height for the image container */
  position: relative;
}

/* Styling for the image */
.image {
  border-radius: 50%;
  object-fit: cover;
  width: 100%; /* Make sure the image fits within the container */
  height: 100%; /* Make sure the image fits within the container */
}

/* Container for text content */
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Space between title and details */
}

/* Styling for post title */
.postTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--softTextColor);
  margin: 0; /* Remove default margin */
}

/* Container for additional details */
.detail {
  font-size: 12px;
}

/* Styling for the category name */
.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 10px;
  color: white;
  width: max-content;
}
/* Specific category styles */
.general {
  background-color: rgb(12, 34, 158);

}

.news-and-politics {
  background-color: #ff9f43; /* Light Orange */
}

.business-and-finance {
  background-color: #ff5e57; /* Coral */
}

.technology {
  background-color: #5e8b7e; /* Teal */
}

.science {
  background-color: #9b59b6; /* Purple */
}

.q-and-a {
  background-color: #f39c12; /* Yellow */
}

.health-and-fitness {
  background-color: #2ecc71; /* Green */
}

.sports {
  background-color: #3498db; /* Blue */
}

.gaming {
  background-color: #e74c3c; /* Red */
}

.funny {
  background-color: #e67e22; /* Pumpkin */
}

.music-and-entertainment {
  background-color: #f1c40f; /* Gold */
}

.movies-and-tv {
  background-color: #1abc9c; /* Turquoise */
}

.anime {
  background-color: #8e44ad; /* Violet */
}

.pop-and-culture {
  background-color: #d35400; /* Orange Red */
}

.fashion-and-beauty {
  background-color: #c0392b; /* Brick Red */
}

.lifestyle {
  background-color: #27ae60; /* Emerald */
}

.food-and-drinks {
  background-color: #2ecc71; /* Green */
}

.arts-and-crafts {
  background-color: #16a085; /* Sea Green */
}

.hobbies-and-collectibles {
  background-color: #e74c3c; /* Red */
}

.places-and-travel {
  background-color: #8e44ad; /* Violet */
}

.home-and-garden {
  background-color: #f39c12; /* Yellow */
}

.education-and-career {
  background-color: #2980b9; /* Dark Blue */
}

.humanities-and-law {
  background-color: #d35400; /* Orange Red */
}

.books {
  background-color: #34495e; /* Dark Gray */
}

.nature-and-outdoors {
  background-color: #2ecc71; /* Green */
}

.environment-and-climate {
  background-color: #1abc9c; /* Turquoise */
}

.vehicles-and-machinery {
  background-color: #95a5a6; /* Gray */
}
